.vfaqs {
  margin: 0 auto;
  
}

.vfaqs .vfaq {
  margin-bottom: 25px;
  padding: 15px;
  background: transparent;
  border-radius: 10px;
  /* box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); */
}

.vfaqs .vfaq .vfaq-question {
  position: relative;
  font-size: 18px;
  padding-right: 80px;
  transition: all 0.4s ease;
  color: #545454;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  width: 100%;
}

@media (max-width: 425px) {
  .vfaqs .vfaq .vfaq-question {
    font-size: 15px; 

  }
}

.vfaqs .vfaq .vfaq-question::after {
  content: "+";
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  transition: all 0.2s ease;
}

.vfaqs .vfaq .vfaq-answer {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease;
  font-size: 16px;
  color: #4f6169;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
@media (max-width: 425px) {
  .vfaqs .vfaq .vfaq-answer {
    font-size: 13px; 

  }
}



.vfaqs .vfaq.open .vfaq-question {
  margin-bottom: 15px;
}

.vfaqs .vfaq.open .vfaq-question::after {
  content: "-";
}

.vfaqs .vfaq.open .vfaq-answer {
  max-height: 1000px;
  opacity: 1;
}
